#ignore these files
/.metadata
/.recommenders
/Servers
/RemoteSystemsTempFiles

/SSM2Demo/.settings
/SSM2Demo/target
/SSM2Demo/.classpath
/SSM2Demo/.project
/SSM2Demo/.idea
/SSM2Demo/out
/SSM2Demo/*.iml

/SBM2Demo/.settings
/SBM2Demo/target
/SBM2Demo/.classpath
/SBM2Demo/.project
/SBM2Demo/.idea
/SBM2Demo/out
/SBM2Demo/*.iml