#ignore these files
/.metadata
/.recommenders
/Servers
/RemoteSystemsTempFiles

/SSM2Demo/.settings
/SSM2Demo/target
/SSM2Demo/.classpath
/SSM2Demo/.project
/SSM2Demo/.idea
/SSM2Demo/out
/SSM2Demo/*.iml
/SSM2Demo/.apt_generated
/SSM2Demo/.factorypath

/SBM2Demo/.settings
/SBM2Demo/target
/SBM2Demo/.classpath
/SBM2Demo/.project
/SBM2Demo/.idea
/SBM2Demo/out
/SBM2Demo/*.iml
/SBM2Demo/.apt_generated
/SBM2Demo/.factorypath

/SBM2SDemo/.settings
/SBM2SDemo/target
/SBM2SDemo/.classpath
/SBM2SDemo/.project
/SBM2SDemo/.idea
/SBM2SDemo/out
/SBM2SDemo/*.iml
/SBM2SDemo/.apt_generated
/SBM2SDemo/.factorypath