<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.DemoUserMapper" >
  <resultMap id="BaseResultMap" type="com.demo.pojo.DemoUser" >
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_username" property="uUsername" jdbcType="VARCHAR" />
    <result column="u_password" property="uPassword" jdbcType="VARCHAR" />
    <result column="u_salt" property="uSalt" jdbcType="VARCHAR" />
    <result column="u_name" property="uName" jdbcType="VARCHAR" />
    <result column="u_age" property="uAge" jdbcType="SMALLINT" />
    <result column="u_sex" property="uSex" jdbcType="VARCHAR" />
    <result column="u_birthday" property="uBirthday" jdbcType="TIMESTAMP" />
    <result column="u_create_time" property="uCreateTime" jdbcType="TIMESTAMP" />
    <result column="u_update_time" property="uUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    u_id, u_username, u_password, u_salt, u_name, u_age, u_sex, u_birthday, u_create_time, 
    u_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.pojo.DemoUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from demo_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from demo_user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from demo_user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.pojo.DemoUserExample" >
    delete from demo_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.pojo.DemoUser" >
    insert into demo_user (u_id, u_username, u_password, 
      u_salt, u_name, u_age, 
      u_sex, u_birthday, u_create_time, 
      u_update_time)
    values (#{uId,jdbcType=INTEGER}, #{uUsername,jdbcType=VARCHAR}, #{uPassword,jdbcType=VARCHAR}, 
      #{uSalt,jdbcType=VARCHAR}, #{uName,jdbcType=VARCHAR}, #{uAge,jdbcType=SMALLINT}, 
      #{uSex,jdbcType=VARCHAR}, #{uBirthday,jdbcType=TIMESTAMP}, #{uCreateTime,jdbcType=TIMESTAMP}, 
      #{uUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.pojo.DemoUser" >
    insert into demo_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="uUsername != null" >
        u_username,
      </if>
      <if test="uPassword != null" >
        u_password,
      </if>
      <if test="uSalt != null" >
        u_salt,
      </if>
      <if test="uName != null" >
        u_name,
      </if>
      <if test="uAge != null" >
        u_age,
      </if>
      <if test="uSex != null" >
        u_sex,
      </if>
      <if test="uBirthday != null" >
        u_birthday,
      </if>
      <if test="uCreateTime != null" >
        u_create_time,
      </if>
      <if test="uUpdateTime != null" >
        u_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uUsername != null" >
        #{uUsername,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null" >
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uSalt != null" >
        #{uSalt,jdbcType=VARCHAR},
      </if>
      <if test="uName != null" >
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uAge != null" >
        #{uAge,jdbcType=SMALLINT},
      </if>
      <if test="uSex != null" >
        #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uBirthday != null" >
        #{uBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="uCreateTime != null" >
        #{uCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uUpdateTime != null" >
        #{uUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.pojo.DemoUserExample" resultType="java.lang.Integer" >
    select count(*) from demo_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update demo_user
    <set >
      <if test="record.uId != null" >
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.uUsername != null" >
        u_username = #{record.uUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.uPassword != null" >
        u_password = #{record.uPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.uSalt != null" >
        u_salt = #{record.uSalt,jdbcType=VARCHAR},
      </if>
      <if test="record.uName != null" >
        u_name = #{record.uName,jdbcType=VARCHAR},
      </if>
      <if test="record.uAge != null" >
        u_age = #{record.uAge,jdbcType=SMALLINT},
      </if>
      <if test="record.uSex != null" >
        u_sex = #{record.uSex,jdbcType=VARCHAR},
      </if>
      <if test="record.uBirthday != null" >
        u_birthday = #{record.uBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uCreateTime != null" >
        u_create_time = #{record.uCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uUpdateTime != null" >
        u_update_time = #{record.uUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update demo_user
    set u_id = #{record.uId,jdbcType=INTEGER},
      u_username = #{record.uUsername,jdbcType=VARCHAR},
      u_password = #{record.uPassword,jdbcType=VARCHAR},
      u_salt = #{record.uSalt,jdbcType=VARCHAR},
      u_name = #{record.uName,jdbcType=VARCHAR},
      u_age = #{record.uAge,jdbcType=SMALLINT},
      u_sex = #{record.uSex,jdbcType=VARCHAR},
      u_birthday = #{record.uBirthday,jdbcType=TIMESTAMP},
      u_create_time = #{record.uCreateTime,jdbcType=TIMESTAMP},
      u_update_time = #{record.uUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.pojo.DemoUser" >
    update demo_user
    <set >
      <if test="uUsername != null" >
        u_username = #{uUsername,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null" >
        u_password = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uSalt != null" >
        u_salt = #{uSalt,jdbcType=VARCHAR},
      </if>
      <if test="uName != null" >
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uAge != null" >
        u_age = #{uAge,jdbcType=SMALLINT},
      </if>
      <if test="uSex != null" >
        u_sex = #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uBirthday != null" >
        u_birthday = #{uBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="uCreateTime != null" >
        u_create_time = #{uCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uUpdateTime != null" >
        u_update_time = #{uUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.DemoUser" >
    update demo_user
    set u_username = #{uUsername,jdbcType=VARCHAR},
      u_password = #{uPassword,jdbcType=VARCHAR},
      u_salt = #{uSalt,jdbcType=VARCHAR},
      u_name = #{uName,jdbcType=VARCHAR},
      u_age = #{uAge,jdbcType=SMALLINT},
      u_sex = #{uSex,jdbcType=VARCHAR},
      u_birthday = #{uBirthday,jdbcType=TIMESTAMP},
      u_create_time = #{uCreateTime,jdbcType=TIMESTAMP},
      u_update_time = #{uUpdateTime,jdbcType=TIMESTAMP}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
</mapper>